.c {
  position: fixed;
  z-index: 10;
  width: 100%;
  float: left;
  background: #F2F5F8;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #434651;
  margin-top: -20px;
}
.c .chat-header {
  padding: 20px;
  border-bottom: 2px solid #aab2bd ;
}
.c .chat-header img {
  float: left;
}
.c .chat-header .chat-about {
  float: left;
  padding-left: 10px;
  margin-top: 6px;
}
.c .chat-header .chat-with {
  margin-top:10px;
  font-weight: bold;
  font-size: 16px;
}
.c .chat-header .chat-num-messages {
  color: #92959E;
}
.c .chat-header .fa-chevron-left {
  float: left;
  margin-right: 25px;
  color: #D8DADF;
  font-size: 32px;
  margin-top: 15px;
}

ul.no-bullet{
  list-style-type:none;
  padding:0;
  margin: 0;
}
